<a href="https://colab.research.google.com/github/xFlodz/university/blob/main/%D0%94%D0%9F%D0%9E%20%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B%20Python%20%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%20%E2%84%961.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *[Введите ваше ФИО]*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
print("Добро пожаловать в мир Python!")

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [2]:
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [3]:
name = 'Denis'
print(name)

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [4]:
for _ in range(3):
  print('Новая строка\n')

Новая строка

Новая строка

Новая строка

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [5]:
a = 7

print(f'{a} + {a} = {a+a}')

7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [9]:
list_of_nums = []
for i in range(3):
  num = int(input(f'Введите число №{i+1} '))
  list_of_nums.append(num)

answer = 1
for num in list_of_nums:
  answer *= num

print(answer)

Введите число №1 3
Введите число №2 4
Введите число №3 10
120

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [21]:
def fullname_formate():

  fullname = input('Введите ФИО: #Иванов Иван Иванович ').strip().split(' ')

  if len(fullname) < 2 or len(fullname) > 3:
    return 'Вы неверно ввели имя'

  list_of_words = [i.capitalize() for i in fullname]

  if len(list_of_words) == 3:
    return f'{list_of_words[0]} {list_of_words[1][0]}. {list_of_words[2][0]}.'

  else:
    return f'{list_of_words[0]} {list_of_words[1][0]}.'

print(fullname_formate())

Введите ФИО: #Иванов Иван Иванович Иванов иван
Иванов И.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [23]:
string = input('Введите строку: ')
char = input('Введите символ: ')

print(string.count(char))

Введите строку: ааааааб
Введите символ: в
0

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [24]:
color = input('Введите Ваш любимый цвет: ').capitalize()

print(f'{color} - красивый цвет')

Введите Ваш любимый цвет: Зеленый
Зеленый - красивый цвет

#### 5. Получите от пользователя строку и выведите ее длину.

In [25]:
string = input('Введите строку: ')

print(len(string))

Введите строку: sdfhgjklsdg
11

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [28]:
a = int()

a = 42

print(a)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [32]:
print(f'{(17 * 3) + (10 / 2):.0f}')

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [33]:
string = '100'

integer = int(string)

print(integer + 25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [34]:
a = 7

print(type(a))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [35]:
a = int()
b = int()

a, b = 5, 10

print(a+b)

15

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [38]:
float_value_str = input('Введите вещественное число ')

try:
  float_value = float(float_value_str)
  print(float_value**2)

except ValueError:
  print('Введено не вещественное числов')

Введите вещественное число10.5
110.25

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [40]:
float_value_str = input('Введите вещественное число ')

try:
  float_value = float(float_value_str)
  print(f'{float_value:.2f}')

except ValueError:
  print('Введено не вещественное числов')

Введите вещественное число 100.23745982375
100.24

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [41]:
a = 2.5
b = 4.7

print(a+b)

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [43]:
float_value_str = input('Введите вещественное число ')

try:
  float_value = float(float_value_str)
  print(f'{float_value  * 9/5 + 32}')

except ValueError:
  print('Введено не вещественное числов')

Введите вещественное число 132
269.6

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [45]:
a = float(input('Введите длину: '))
b = float(input('Введите ширину: '))
print(a*b)

Введите длину: 10
Введите ширину: 12
120.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [46]:
a = "Python - самый популярный язык программирования"

print(a)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [47]:
a = "Привет, мир!"

print(a[0], a[-1])

П !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [50]:
a = ['МИИГАИК -', 'лучший', 'ВУЗ!']

print(' '.join(a))

МИИГАИК - лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [51]:
a = '12345'

print(type(int(a)))

<class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [52]:
a = "python is Fun".upper()

print(a)

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [53]:
a = [10, 20, 30, 40, 50]
print(a)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [54]:
a.append(60)

print(a)

[10, 20, 30, 40, 50, 60]

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [57]:
a = ['python', 'java', 'c++', 'ruby', 'perl']

print(a[2:5])

['c++', 'ruby', 'perl']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [58]:
a = []

for i in range(3):
  a.append(i)

print(a)

[0, 1, 2]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [59]:
a = [1, 2, 3, 4, 5]

a[1] = 200

print(a)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [62]:
a = (1, 2, 3, 4, 5)

print(a)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [64]:
#кортеж не изменяемый


a[1] = 0

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [68]:
string = str(a)

print(string)
print(type(string))

(1, 2, 3, 4, 5)
<class 'str'>

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [69]:
a = (1, 2, 3, 4, 5)

print('2 содержится в кортеже') if 2 in a else print('не содержится')

2 содержится в кортеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [70]:
a = (1, 1, 1)

print(a.count(1))

3

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [83]:
a = {'name': 'Что', 'age': 'за', 'city': 'докс???'}

print(list(a.values()))

['Что', 'за', 'докс???']

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [84]:
print(a['name'])

Что

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [85]:
a['job'] = ':)'

print(list(a.values()))

['Что', 'за', 'докс???', ':)']

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [86]:
_ = a.pop('city')

print(list(a.values()))

['Что', 'за', ':)']

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [89]:
a = {}

key = input('Введите ключ: ')

value = input('Введите значение: ')

a[key] = value

print(a)

Введите ключ: ааа
Введите значение: ббб
{'ааа': 'ббб'}